:root {
  --bs-primary: #2dc98a;
  --bs-primary-rgb: 45,201,138;
  --bs-secondary: #e8eff4;
  --bs-secondary-rgb: 232,239,244;
  --petrol: #003e52;
  --animation-cubic: cubic-bezier(0.33, 1, 0.68, 1);
}

.btn{
  &-primary{
    --bs-btn-bg: var(--bs-primary);
    --bs-btn-hover-bg: var(--bs-primary);
    --bs-btn-disabled-bg: var(--bs-primary);
    --bs-btn-active-bg: var(--bs-primary);;
  }
  &-secondary{
    --bs-btn-bg: var(--bs-secondary);
    --bs-btn-hover-bg: var(--bs-secondary);
    --bs-btn-disabled-bg: var(--bs-secondary);
    --bs-btn-active-bg: var(--bs-secondary);
  }
  &-dark{
    --bs-btn-bg: var(--petrol);
    --bs-btn-hover-bg: var(--petrol);
    --bs-btn-disabled-bg: var(--petrol);
    --bs-btn-active-bg: var(--petrol);
  }
}

.fade{
  &-enter-active,
  &-leave-active {
    transition: opacity 0.2s ease;
  }
  &-enter-from,
  &-leave-to {
    opacity: 0;
  }
}

.list {
  &-enter-active{
    transition: all 0.4s var(--animation-cubic);
    transition-delay: calc(0.05s * var(--i));
  }
  &-enter-from{
    opacity: 0;
    transform: translateX(30px);
  }
}

.page{
  &-enter-from{
    opacity: 0;
    transform: translateY(-1rem);
  }
  &-enter-active,
  &-leave-active {
    transition: all 0.3s var(--animation-cubic);
  }
  &-enter,
  &-leave-to {
    opacity: 0;
  }
}

a > img, .btn{
  transition: opacity 0.2s ease;
  &:hover{
    opacity: 0.8;
  }
}

.custom-scrollbar {
  scrollbar-width: auto;
  scrollbar-color: #c7c7c7 #ffffff;
  &::-webkit-scrollbar {
    width: 12px;
    height: 12px;
  }
  &::-webkit-scrollbar-track {
    background: #ffffff;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #c7c7c7;
    border-radius: 10px;
    border: 3px solid #ffffff;
    &:hover{
      background-color: #999999;
    }
  }
}
